.card-image-container {
  position: relative;
  width: 100px;
  height: 150px;
  flex: 0 0 auto;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 4px rgb(75, 75, 75);
}

.card {
  display: flex;
  flex-direction: column;
  color: #d8e2ac;
  text-align: center;
  font-size: large;
  width: 150px;
  cursor: pointer;
}

.text {
  color: #d8e2ac;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}

/*Search Bar*/

.search-bar {
  display: flex;
  align-items: center;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 5px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
}

.search-bar:hover {
  width: 350px;
}

.search-bar input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  background: none;
  padding: 8px;
  font-size: 16px;
}

.search-bar button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 8px;
}

.search-bar button:focus {
  outline: none;
}

.search-bar button:hover {
  color: #555;
}

/* search results */
.search-results {
  display: flex;
  flex: 14;
  list-style-type: none;
  padding: 20px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.no-result {
  display: flex;
  flex: 14;
  color: white;
  justify-content: center;
  align-items: center;
}

/* Loader */
.loading-icon {
  color: var(--highlight-color);
  font-size: 2.5rem;
  animation: loading-animate 2s infinite;
}

@keyframes loading-animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.loader {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
