.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 85px;
  height: 100%;
  padding-right: 10px;
  background-color: transparent;
  transition: width 0.6s ease;
  white-space: nowrap;
  overflow-x: hidden;
  z-index: 20;
}

.sidebar:hover {
  width: 250px;
}

.logo {
  padding: 15px;
  font-size: 25px;
  font-weight: 700;
}

.menu {
  background:linear-gradient(to right, rgb(0, 4, 2, 1) 60%, rgba(37, 36, 37, 0.5) 100%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.menu-main-options {
  padding: 20px 0 20px 30px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.menu-main-options li {
  padding: 25px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white; /* Set the initial color to match icons */
}

.menu-main-options li:hover,
.menu-main-options li.hover {
  color: #19a38a; 
}

.menu-main-options li.active {
  color: #19a38a; 
}

.menu-main-options li span {
  opacity: 0;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s ease;
}

.sidebar:hover .menu-main-options li span {
  color: inherit; 
  padding-left: 15px;
  transition: all 0.4s ease;
  opacity: 1;
}

.logo span {
  padding-left: 10px;
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease;
}

.sidebar:hover .logo span:first-child {
  color: #d75015;
  opacity: 1;
}

.sidebar .logo span:last-child {
  color: #d75015;
  opacity: 1;
}

.sidebar:hover .logo span:last-child {
  color: transparent;
  opacity: 0;
}

.logout {
  padding-left: 30px;
  list-style: none;
}

.logout:hover {
    color: #19a38a;
}

.logout li {
  padding: 25px 0 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logout li span {
  color: transparent;
  opacity: 0;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s ease;
}

.sidebar:hover .logout li span {
  color: white;
  opacity: 1;
  padding-left: 15px;
  transition: all 0.4s ease;
}

.sidebar:hover .logout:hover li span {
    color: #19a38a;
}