/* html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@keyframes changeBackground {
  0%,
  100% {
    opacity: 1;
    background-image: url("../public/interstellar.jpg"),
      linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.9)
      );
  }
  25% {
    opacity: 1;
    background-image: url("../public/spiderman.jpeg"),
      linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.9)
      );
  }
  50% {
    opacity: 1;
    background-image: url("../public/johnwick.jpeg"),
      linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.9)
      );
  }
  75% {
    opacity: 1;
    background-image: url("../public/dune.webp"),
      linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.9)
      );
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bg-container {
  animation: changeBackground 40s infinite;
  transition: opacity 2s ease-in-out;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-blend-mode: multiply;
  overflow: hidden;
  opacity: 1;
}

.bg-container.darken {
  position: relative;
}

.bg-container.darken::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
  z-index: 1;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
  z-index: 2; 
}

.button {
  color: #ffffff;
  font-size: 16px;
  background-color: green; 
  border: none;
  border-radius: 4px; 
  padding: 10px 20px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.button:hover {
  background-color: rgb(7, 145, 7);
}

.name {
  color: #ffffff; 
  font-size: 24px; 
  font-weight: bold; 
  z-index: 2; 
}

.tagline {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 75%;
  color: white;
  align-items: center;
  justify-content: end;
  font-size: 40px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: 2; 
} */
